.loading{
    border: 6px solid rgba(255, 255, 255, 0.1);
    border-left-color: hsl(256, 98%, 67%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: loading 1s linear infinite;
    margin: 0 auto;
}
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
