@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
